.sub-header{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(/asserts/background.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    text-align: center;
}

.sub-header h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
    text-transform: capitalize;
    word-spacing: 5px;
    letter-spacing:2px;
}

.about-us-col{
    flex-basis: 40%;
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
    text-align: center;
}

.about-us-col img{
    /* height: 100%; */
    width: 100%;
    border-radius: 10px;
}

.about-us-col h1{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 40px;
}

.about-us-col p{
    text-align: left;
    margin-bottom: 50px;
}

.explore-btn{
    color: #000;
    border: 1px solid #229954;
    text-decoration: none;
    cursor: pointer;
    padding: 12px 60px;
    background: transparent;
}

.explore-btn:hover{
    background-color: #229954;
    transition: 1s;
    color: #FFF;
}


/* blog content css */

.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px;
}

.blog-left{
    flex-basis: 65%;
}

.blog-left img{
    width: 100%;
}

.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}

.blog-left p{
    color: #444;
    font-size: 14px;
    /* line-height: 20px; */
    /* text-align: justify; */
    padding: 0;
}

.blog-right{
    flex-basis: 32%;
    margin-left: 150px;
    text-align: center;
}

.blog-right h3{
    background-color: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

.blog-right div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    color: #555;
}

.blog-row{
    display: flex;
    justify-content: space-between;
}

@media(max-width:700px){
    .blog-row{
        flex-direction: column;
    }
    .blog-right{
       margin-left: 0;
       margin-top: 50px;
    }
}

.comment-box{
    width: 70%;
    border: 1px solid #ccc;
    margin: 50px auto;
    padding: 10px 20px;
}

.comment-box h3{
    text-align: left;
}

.comment-box input, .comment-box textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    border: none;
    outline: none;
    background-color: #f0f0f0;
}


/* contact us page */
.location{
    width:80%;
    margin:auto;
    padding: 50px 0;
}

.location iframe{
    width: 100%;
}


.contact-us{
    width: 80%;
    margin: auto;
}

.contact-col{
    flex-basis: 48%;
}

.contact-col div{
    display: flex;
    /* gap: 40px; */
    margin-bottom: 40px;
}

.contact-col .bi{
    font-size: 30px;
    color: #f44336;
    margin-right: 40px;
    margin-left: 20px;
}

.contact-col div p{
    padding: 0;
    font-size: 13px;
    color: #666;
    font-weight: 400;
}

.contact-col div h5{
    font-size: 16px;
    color: #666;
}

.contact-col form input,.contact-col form textarea{
    width: 100%;
    border: none;
    outline: none;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    padding: 20px 20px;
}







